# 1 기술통계

In [96]:
#데이터 구성 패키지 : Series, DataFrame
import pandas as pd

#행렬 연산 패키지
import numpy as np

#데이터 시각화 패키지
import matplotlib
import matplotlib.pyplot as plt

#데이터 시각화(추세 등)패키지
import seaborn as sns

#통계 분석 패키지
from scipy import stats
import scipy.stats

#jupyter notebook 내 그래프를 바로 그리기 위한 설정
%matplotlib inline

In [3]:
#matplotlib 패키지 한글 깨짐 처리 시작
#한글 폰트(맑은 고딕)적용 : 윈도우, 구글 콜랩
matplotlib.rc('font', family='Malgun Gothic')
plt.rc('font', family='Malgun Gothic')

#한글 폰트(애플 고딕) 적용 : 맥 
#matplotlib.rc('font', family='AppleGothic')
#plt.rc('font', family='AppleGothic')

# STEP 1. 데이터 구성하기

In [23]:
ds_mycars=pd.read_csv("/home/piai/Downloads/통계 이해/mycars.csv", engine="python")
ds_mycars.head()

,manufacturer,model,displacement,year,cylinder,automatic,driving,mpg,highway_mileage,fuel,class
0,audi,a4,1.8,1999,4,auto,f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual,f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual,f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto,f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto,f,16,26,p,compact

# STEP 2. 기술통계분석_시내/자동차 Model 별 연비(mpg)통계치

In [13]:
# 기술통계량 
ds_mycars.describe().round(3)

       displacement     year  cylinder      mpg  highway_mileage
count       234.000   234.00   234.000  234.000          234.000
mean          3.472  2003.50     5.889   16.859           23.440
std           1.292     4.51     1.612    4.256            5.955
min           1.600  1999.00     4.000    9.000           12.000
25%           2.400  1999.00     4.000   14.000           18.000
50%           3.300  2003.50     6.000   17.000           24.000
75%           4.600  2008.00     8.000   19.000           27.000
max           7.000  2008.00     8.000   35.000           44.000

In [18]:
# 자동차 모델 별, mpg 데이터 
df=ds_mycars[['model','mpg']]
df.describe().round(3)

           mpg
count  234.000
mean    16.859
std      4.256
min      9.000
25%     14.000
50%     17.000
75%     19.000
max     35.000

In [24]:
ds_mycars.groupby('driving').describe().round(3)

        displacement                                          year            \
               count   mean    std  min  25%  50%  75%  max  count      mean
driving
4              103.0  3.998  1.139  1.8  2.9  4.0  4.7  6.5  103.0  2003.718
f              106.0  2.558  0.701  1.6  2.0  2.4  3.0  5.3  106.0  2003.160
r               25.0  5.176  0.803  3.8  4.6  5.4  5.7  7.0   25.0  2004.040

         ...   mpg       highway_mileage                                   \
         ...   75%   max           count    mean    std   min   25%   50%
driving  ...
4        ...  16.0  21.0           103.0  19.175  4.079  12.0  17.0  18.0
f        ...  21.0  35.0           106.0  28.160  4.207  17.0  26.0  28.0
r        ...  15.0  18.0            25.0  21.000  3.663  15.0  17.0  21.0


          75%   max
driving
4        22.0  28.0
f        29.0  44.0
r        24.0  26.0

[3 rows x 40 columns]

In [30]:
df=ds_mycars[['driving','mpg']]
df.groupby('driving').describe().round(3)

           mpg
         count    mean    std   min   25%   50%   75%   max
driving
4        103.0  14.330  2.874   9.0  13.0  14.0  16.0  21.0
f        106.0  19.972  3.627  11.0  18.0  19.0  21.0  35.0
r         25.0  14.080  2.216  11.0  12.0  15.0  15.0  18.0

In [37]:
ds_EXH_QC1=pd.read_csv("/home/piai/Downloads/통계 이해/EXH_QC1.csv", engine="python")
ds_EXH_QC1
df=ds_EXH_QC1[['Flaws','Period']]
df.head()

     Flaws Period
0  Scratch    Day
1  Scratch    Day
2     Peel    Day
3     Peel    Day
4   Smudge    Day

In [60]:
#Flaws 변수 Count: value_count. 순서대로 정렬 : sort_index
count=df['Flaws'].value_counts().sort_index()
count

Other       6
Peel       15
Scratch    13
Smudge      6
Name: Flaws, dtype: int64

In [61]:
cumcnt=np.cumsum(count)

In [62]:
#Percent 계산 : 직접 
percent=(count/sum(count))*100
percent

Other      15.0
Peel       37.5
Scratch    32.5
Smudge     15.0
Name: Flaws, dtype: float64

In [65]:
#CumCnt (Cumulative percents) 계산 : cumsum
cumpct=np.cumsum(percent)

In [66]:
#Dataframe으로 취합
count_data=pd.DataFrame({'Count': count, 'Percent':percent,
                        'CumCnt': cumcnt, 'CumPct': cumpct})

#Column의 name(좌측상단 이름) 생성
count_data.columns.name='Flaws'

#결과확인 
count_data

Flaws    Count  Percent  CumCnt  CumPct
Other        6     15.0       6    15.0
Peel        15     37.5      21    52.5
Scratch     13     32.5      34    85.0
Smudge       6     15.0      40   100.0

In [69]:
# Period 변수 count
count2=df['Period'].value_counts().sort_index()
count2

Day         7
Evening     7
Night      19
Weekend     7
Name: Period, dtype: int64

In [70]:
# Percent 계산 : 직접
percent2=(count2/sum(count2))*100
percent2

Day        17.5
Evening    17.5
Night      47.5
Weekend    17.5
Name: Period, dtype: float64

In [72]:
#CumCnt(cumulative counts) 계산 
cumcnt2=np.cumsum(count2)
cumcnt2

Day         7
Evening    14
Night      33
Weekend    40
Name: Period, dtype: int64

In [73]:
cumpct2=np.cumsum(percent2)
cumpct2

Day         17.5
Evening     35.0
Night       82.5
Weekend    100.0
Name: Period, dtype: float64

In [75]:
#Dataframe으로 취합
count_data2=pd.DataFrame({'Count': count2, 'Percent':percent2,
                        'CumCnt': cumcnt2, 'CumPct': cumpct2})

#Column의 name(좌측상단 이름) 생성
count_data2.columns.name='Period'

#결과확인 
count_data2

Period   Count  Percent  CumCnt  CumPct
Day          7     17.5       7    17.5
Evening      7     17.5      14    35.0
Night       19     47.5      33    82.5
Weekend      7     17.5      40   100.0

In [77]:
mu=115
sigma=20
x=135
prob=stats.norm.cdf(x,mu,sigma)
print("{0}분 이상 걸리는 A/S 작업 비율: {1:.1f}%".format(x,(1-prob)*100))

135분 이상 걸리는 A/S 작업 비율: 15.9%

In [78]:
mu=175
sigma=5
x=180
prob=stats.norm.cdf(x,mu,sigma)
print(": {1:.1f}%".format(x,(1-prob)*100))

180분 이상 걸리는 A/S 작업 비율: 15.9%

In [81]:
mu=12
sigma=3
x1=9
x2=15
prob1=stats.norm.cdf(x1,mu,sigma)
prob2=stats.norm.cdf(x2,mu,sigma)
print("{0}km 이상 {1}km 이하를 달릴 확률은 {2:.1f}%".format(x1,x2,(prob2-prob1)*100))
print("{0}km 이상 달릴 확률은 {1:.1f}%".format(x1,(1-prob2)*100))

9km 이상 15km 이하를 달릴 확률은 68.3%
9km 이상 달릴 확률은 15.9%

In [86]:
t=1.53
df=5
prob=stats.t.cdf(t,df)
print("P(T<=F):{:.1f}%".format(prob*100))

P(T<=F):90.7%

In [87]:
t=2
df=100
prob=stats.t.cdf(t,df)
print("P(T<=F):{:.1f}%".format(prob*100))

P(T<=F):97.6%

In [93]:
chisq=8
df=3
prop=stats.chi2.cdf(chisq,df)
print("P(X<={0}):{1:.2f}%".format(chisq,prop*100))

P(X<=8):95.40%

In [95]:
f=2
dfnum=15
dfden=15
prob=stats.f.cdf(x=f,dfn=dfnum, dfd=dfden)
print("P(X<=F): {:.3f}".format(prob))

P(X<=F): 0.904